<input type="hidden" name="enhancedadminmenu_beacon" value="1"/>

<mtapp:setting
	id="list_blog_numbers"
	label="<__trans phrase="Blog listings.">"
>
<ul>
<li>
<input name="list_blog_numbers" id="list_blog_numbers" value="<mt:Var name="list_blog_numbers" />" />
</li>
</ul>
</mtapp:setting>
