<mtapp:setting
	id="HatenaFotolifeUsername"
	label="<__trans phrase="Username for Hatena">"
>
<input id="HatenaFotolifeUsername" name="HatenaFotolifeUsername" value="<mt:Var name="HatenaFotolifeUsername" />" />
</mtapp:setting>
