<mtapp:setting
	id="enabled"
	label="<__trans phrase="Enebled">"
>
<ul>
<li><input type="checkbox" name="enabled" id="enabled" value="1" <mt:If name="enabled">checked="checked"</mt:If> /></li>
</ul>
</mtapp:setting>
