<input type="hidden" name="enhancedblogcreating_plugin_beacon" value="1" />

<mtapp:setting
    id="file_extension"
    label="<__trans phrase="File Extension">"
    hint="<__trans phrase="Enter the archive file extension. This can take the form of 'html', 'shtml', 'php', etc. Note: Do not enter the leading period ('.').">"
    help_page="blog_setting_publishing"
    help_section="archive_file_extension">
    <input name="file_extension" id="file_extension" size="5" value="<mt:var name="file_extension" escape="html">" />
</mtapp:setting>

<mtapp:setting
    id="include_cache"
    label="<__trans phrase="Module Caching">"
    content_class="field-content-text"
    help_page="blog_settings_publishing"
    help_section="include_cache">
    <input id="include_cache" type="checkbox" name="include_cache" value="1"<mt:if name="include_cache"> checked="checked"</mt:if>/> <label for="include_cache"><__trans phrase="Enable template module caching"></label>
</mtapp:setting>

<mtapp:setting
    id="include_system"
    label="<__trans phrase="Server Side Includes">"
    content_class="field-content-text"
    help_page="blog_settings_publishing"
    help_section="ssi">
    <select id="include_system" name="include_system">
      <option value=""<mt:unless name="include_system"> selected="selected"</mt:unless>><__trans phrase="None (disabled)"></option>
      <option value="php"<mt:if name="include_system" eq="php"> selected="selected"</mt:if>><__trans phrase="PHP Includes"></option>
      <option value="shtml"<mt:if name="include_system" eq="shtml"> selected="selected"</mt:if>><__trans phrase="Apache Server-Side Includes"></option>
      <option value="asp"<mt:if name="include_system" eq="asp"> selected="selected"</mt:if>><__trans phrase="Active Server Page Includes"></option>
      <option value="jsp"<mt:if name="include_system" eq="jsp"> selected="selected"</mt:if>><__trans phrase="Java Server Page Includes"></option>
    </select>
</mtapp:setting>

<mtapp:settinggroup id="entry-settings">

<h3><__trans phrase="New Entry Defaults"></h3>

    <mtapp:setting
        id="status_default"
        label="<__trans phrase="Entry Status">"
        hint="<__trans phrase="Specifies the default Entry Status when creating a new entry.">">
        <select name="status_default" id="status_default">
        <option value="1"<mt:if name="STATUS_DEFAULT_1"> selected="selected"</mt:if>><__trans phrase="Unpublished"></option>
        <option value="2"<mt:if name="STATUS_DEFAULT_2"> selected="selected"</mt:if>><__trans phrase="Published"></option>
        </select>
    </mtapp:setting>

    <mtapp:setting
        id="convert_paras"
        label="<__trans phrase="Text Formatting">"
        hint="<__trans phrase="Specifies the default Text Formatting option when creating a new entry.">"
        help_page="blog_settings_entry_defaults"
        help_section="text_formatting">
        <select name="convert_paras" id="convert_paras">
        <mt:loop name="text_filters">
        <option value="<mt:var name="key" escape="html">"<mt:if name="selected"> selected="selected"</mt:if>><mt:var name="label" escape="html"></option>
        </mt:loop>
        </select>
    </mtapp:setting>

    <mtapp:setting
        id="allow_comments_default"
        label="<__trans phrase="Accept Comments">"
        content_class="field-content-text"
        help_page="blog_settings_entry_defaults"
        help_section="accept_comments"
        hint="<__trans phrase="Specifies the default Accept Comments setting when creating a new entry.">">
        <input type="checkbox" name="allow_comments_default" id="allow_comments_default" value="1"<mt:if name="ALLOW_COMMENTS_DEFAULT_1"> checked="checked"</mt:if> class="cb" />
        <mt:unless name="system_allow_comments">
        <p><img src="<mt:var name="static_uri">images/status_icons/warning.gif" alt="<__trans phrase="Setting Ignored">" width="9" height="9" />
        <span class="alert-warning-inline"><__trans phrase="Note: This option is currently ignored since comments are disabled either blog or system-wide."></span></p>
        </mt:unless>
    </mtapp:setting>

    <mtapp:setting
        id="allow_pings_default"
        label="<__trans phrase="Accept TrackBacks">"
        content_class="field-content-text"
        help_page="blog_settings_entry_defaults"
        help_section="allow_trackbacks"
        hint="<__trans phrase="Specifies the default Accept TrackBacks setting when creating a new entry.">">
        <input type="checkbox" value="1" name="allow_pings_default" id="allow_pings_default"<mt:if name="allow_pings_default"> checked="checked"</mt:if> class="cb"/>
        <mt:unless name="system_allow_pings">
        <p><img src="<mt:var name="static_uri">images/status_icons/warning.gif" alt="<__trans phrase="Setting Ignored">" width="9" height="9" /> <span class="alert-warning-inline"><__trans phrase="Note: This option is currently ignored since TrackBacks are disabled either blog or system-wide."></span></p>
        </mt:unless>
    </mtapp:setting>

</mtapp:settinggroup>

<script type="text/javascript">
(function() {
	var orig = validate;
	validate = function(f) {
		if (! orig(f)) {
			return false;
		}

		if (! f.file_extension.value) {
        	alert('<__trans phrase="You must set File Extension." escape="singlequotes">');
			return false;
		}

	    return true;
	};
})();
</script>
