<mtapp:setting
	id="required_category_enabled"
	label="<__trans phrase="The category is made a required item.">"
>
<input type="checkbox" id="required_category_enabled" name="enabled" value="1" <mt:If name="enabled">checked="checked"</mt:If> />
</mtapp:setting>
